#rainbow{
    width: 150px;
    height: 150px;
    border-color:black;
    border-width: 1.5px;
    border-style:solid;
    border-radius:1.5px;
    padding:2px 2px 2px 2px;
    margin:25px 25px 25px 25px;

}