#chart_style{
    width: 700;
    height: 700;
    border-color: black;
    border-style: solid;
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
}

h2
{
    text-align: left;
    font-family: monospace;
    text-shadow: 2px;
}
h1{
    font-weight: 100;
    text-shadow: 5px;
    text-align: center;
    font-family: monospace;
    border-bottom-width:4px;
    border-bottom-style: solid;
    border-bottom-color: black;
}
.content{
    font-size: medium;
    font-family:arial;
}