#chart_style{
    border-color: black;
    border-style: solid;
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    background-color:ivory;
    box-shadow: 5px 10px 18px #888888;
}

h3
{
    text-align: left;
    font-family: monospace;
    text-shadow: 2px;
}
h1{
    font-weight: 100;
    text-shadow: 10px;
    text-align: center;
    font-family: monospace;
}
.content{
    font-size: medium;
    font-family:monospace;
}
body{
    background: linear-gradient(35deg,#CCFFFF,#FFCCCC);
}
header{
    text-align: center;
    color:black;
    font-weight: 300;
    font-family: monospace;
    padding:15px 15px 0px 15px;
    margin-top:-25px;
}

.txt-box:hover{
    transform: scale(1.1);
}